:root {
    /**
    * Colors
    **/
    --clr-blue: rgb(118 218 235);
    --clr-lightpink: rgb(234 170 221);
    --clr-darkpink: rgb(200 114 179);
    --clr-yellow: rgb(255 214 0);
    --clr-purple: rgb(170 155 243);
    --clr-green: rgb(204 255 0);
    --clr-dark: rgb(15 15 15);
    --clr-light: rgb(245 245 245);
}
