---
export const prerender = false

import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'

if (!Astro.cookies.has('visited')) {
    Astro.cookies.set('visited', String('true'))
    return Astro.rewrite('/welcome')
}
---

<BaseLayout pageTitle="Home">
    <Card>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
            soluta omnis? Unde iure qui sequi. Debitis, explicabo illum, vel
            temporibus voluptatem, quis pariatur dolores esse harum laboriosam
            ab tempore maxime.
        </p>
    </Card>
</BaseLayout>
