/* stylelint-disable rem-over-px/rem-over-px */
/*
 * Property definitions
 * ---------------------------- */
@property --border-width-sm {
    syntax: '<length>';
    initial-value: 2px;
    inherits: false;
}
@property --border-width {
    syntax: '<length>';
    initial-value: 4px;
    inherits: false;
}
@property --shape-shadow-x-sm {
    syntax: '<length>';
    initial-value: 3px;
    inherits: true;
}
@property --shape-shadow-x {
    syntax: '<length>';
    initial-value: 8px;
    inherits: true;
}
@property --shape-shadow-y-sm {
    syntax: '<length>';
    initial-value: 2px;
    inherits: true;
}
@property --shape-shadow-y {
    syntax: '<length>';
    initial-value: 6px;
    inherits: true;
}

/*
 * Components
 * ---------------------------- */
:root {
    --border-color: var(--clr-dark);
    --border: var(--border-width) solid var(--border-color);
    --border-sm: var(--border-width-sm) solid var(--border-color);
    --box-shadow: var(--border-width) var(--border-width) 0 0
        var(--border-color);
    --box-shadow-sm: var(--border-width-sm) var(--border-width-sm) 0 0
        var(--border-color);
}
