@property --font-family {
    syntax: '<string>';
    inherits: true;
    initial-value: 'Sora Variable';
}

@property --lh {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 1.5;
}
@property --lh-heading {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 1.2;
}

@property --fw {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 400;
}
@property --fw-heading {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 900;
}

:root {
    --fs-100: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --fs-200: clamp(1.5rem, 1.3694rem + 0.6528vw, 1.8754rem);
    --fs-300: clamp(2.25rem, 1.9452rem + 1.5239vw, 3.1263rem);
    --fs-400: clamp(3.375rem, 2.7362rem + 3.1938vw, 5.2115rem);
    --fs-500: clamp(5.0625rem, 3.8016rem + 6.3044vw, 8.6875rem);
    --fs-600: clamp(7.5938rem, 5.1978rem + 11.9797vw, 14.4821rem);
}
