@property --font-family {
    syntax: '<string>';
    inherits: true;
    initial-value: 'Sora Variable';
}

@property --lh {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 1.5;
}
@property --lh-heading {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 1.2;
}

@property --fw {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 400;
}
@property --fw-heading {
    syntax: '<number> | <string>';
    inherits: true;
    initial-value: 900;
}

:root {
    --fs-100: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --fs-200: clamp(1.125rem, 0.9293rem + 0.9783vw, 1.6875rem);
    --fs-300: clamp(1.2656rem, 0.8254rem + 2.2011vw, 2.5313rem);
    --fs-400: clamp(1.4238rem, 0.5984rem + 4.127vw, 3.7969rem);
    --fs-500: clamp(1.6018rem, 0.178rem + 7.1191vw, 5.6953rem);
    --fs-600: clamp(1.802rem, -0.5426rem + 11.7234vw, 8.543rem);
}
