---

---

<section class="border shadow">
    <slot />
</section>

<style>
    section {
        padding: var(--space-200) var(--space-300);
        background-color: var(--clr-purple);
    }
</style>
