/*
 * Borders
 * ---------------------------- */
.border {
    border: var(--border);
}
.border-sm {
    border: var(--border-sm);
}
/*
 * Box shadow
 * ---------------------------- */
.shadow {
    box-shadow: var(--box-shadow);
}
.shadow-sm {
    box-shadow: var(--box-shadow-sm);
}
/*
 * Backgrounds
 * ---------------------------- */
.bg-grid {
    --bg-grid-size: 2.5rem;
    --bg-grid-color: var(--clr-dark);
    background-image:
        linear-gradient(to right, var(--bg-grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--bg-grid-color) 1px, transparent 1px);
    background-size: var(--bg-grid-size) var(--bg-grid-size);
}
