/*
 * Borders
 * ---------------------------- */
.border {
    border: var(--border);
}
.border-sm {
    border: var(--border-sm);
}
/*
 * Box shadow
 * ---------------------------- */
.shadow {
    box-shadow: var(--box-shadow);
}
.shadow-sm {
    box-shadow: var(--box-shadow-sm);
}
